@media all and (max-width: 1000px) {
  .calculate-btn {
    width: 140px;
  }

  .save-btns button {
    width: 70px;
  }

  .input-amount {
    width: 200px;
  }
}

@media all and (max-width: 665px) {
  html {
    font-size: 50%;
  }

  .input-amount {
    font-size: 16px;
  }
}

@media all and (max-width: 535px) {
  html {
    font-size: 45%;
  }
}

@media all and (max-width: 470px) {
  html {
    font-size: 40%;
  }
}

@media all and (max-width: 415px) {
  html {
    font-size: 35%;
  }
}
